<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <form [formGroup]="proveedorForm" (ngSubmit)="registrarProveedor()">
      <h5>Registro de Proveedores</h5>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nombre</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="nombreProveedor"/>
          <div *ngIf="proveedorForm.get('nombreProveedor')?.touched && proveedorForm.get('nombreProveedor')?.errors?.['required']" class="alert alert-danger">
            <div *ngIf="proveedorForm.get('nombreProveedor')?.errors">Nombre es Requerido</div>
          </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Dirección</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="direccionProveedor" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Telefono</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="telefonoProveedor" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Celular</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="celularProveedor" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">E-mail</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="emailProveedor" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Página Web</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="paginaProveedor" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Código</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="codigoProveedor"  />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Descripción</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" type="text" formControlName="descripcionProveedor" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Estado</label>
        <div class="col-12 md:col-10">
          <p-dropdown [options]="estados" formControlName="estadoProveedor" dataKey="code" placeholder="Seleccionar Estado."  optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="flex">
        <button pButton pRipple label="Agregar" [disabled]="!proveedorForm.valid" icon="pi pi-plus" class="mr-2 mb-2"></button>
      </div>
    </form>
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">

    <p-table #dt1 dataKey="id" [value]="proveedor" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" ></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Código
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Nombre
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Teléfono
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Celular
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              E-mail
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Estado
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-proveedor>
        <tr>
          <td style="min-width: 12rem;">
            {{proveedor.id}}
          </td>
          <td style="min-width: 14rem;">
            {{proveedor.codigo}}
          </td>
          <td style="min-width: 14rem;">
            {{proveedor.nombre}}
          </td>
          <td style="min-width: 14rem;">
            {{proveedor.telefonoContacto}}
          </td>
          <td style="min-width: 14rem;">
            {{proveedor.celularContacto}}
          </td>
          <td style="min-width: 14rem;">
            {{proveedor.emailContacto}}
          </td>
          <td style="min-width: 10rem;" [ngSwitch]="proveedor.estado">
            <span *ngSwitchCase="1">ACTIVO</span>
            <span *ngSwitchCase="0">INACTIVO</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
