<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <form [formGroup]="clienteForm" (ngSubmit)="registrarCliente()">
      <h5>Registro de Clientes</h5>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Código Cliente</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="codigo"  type="text" />
            <div *ngIf="clienteForm.get('codigo')?.touched && clienteForm.get('codigo')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="clienteForm.get('codigo')?.errors">Código Cliente es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Primer Nombre</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="primerNombre"  type="text" />
            <div *ngIf="clienteForm.get('primerNombre')?.touched && clienteForm.get('primerNombre')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="clienteForm.get('primerNombre')?.errors">Primer Nombre es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Segundo Nombre</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="segundoNombre"  type="text" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Primer Apellido</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="primerApellido"  type="text" />
            <div *ngIf="clienteForm.get('primerApellido')?.touched && clienteForm.get('primerApellido')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="clienteForm.get('primerApellido')?.errors">Primer Apellido es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Segundo apellido</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="segundoApellido"  type="text" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Dirección</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="direccion"  type="text" />
            <div *ngIf="clienteForm.get('direccion')?.touched && clienteForm.get('direccion')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="clienteForm.get('direccion')?.errors">Dirección es Requerida.</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">NIT</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="nit"  type="text" />
            <div *ngIf="clienteForm.get('nit')?.touched && clienteForm.get('nit')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="clienteForm.get('nit')?.errors">NIT es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Correo Electrónico</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="correoElectronico"  type="text" />
            <div *ngIf="clienteForm.get('correoElectronico')?.touched && clienteForm.get('correoElectronico')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="clienteForm.get('correoElectronico')?.errors">Correo es Requerido</div>
            </div>
        </div>
      </div>
      <div class="flex">
        <button pButton pRipple label="Registrar" [disabled]="!clienteForm.valid" icon="pi pi-plus" class="mr-2 mb-2"></button>
      </div>
    </form>
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">

    <p-table #dt1 dataKey="id" [value]="cliente" [rows]="10" [rowHover]="true" [loading]="loading" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['id','codigo','nombre','nit','correoElectronico']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="id" display="menu" placeholder="Búsqueda por Id"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Código Cliente
              <p-columnFilter type="text" field="codigo" display="menu" placeholder="Búsqueda por Código Cliente"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Nombre
              <p-columnFilter type="text" field="nombre" display="menu" placeholder="Búsqueda por Nombre"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              NIT
              <p-columnFilter type="text" field="nit" display="menu" placeholder="Búsqueda por NIT"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Correo Electrónico
              <p-columnFilter type="text" field="correoElectronico" display="menu" placeholder="Búsqueda por Correo"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Acciones
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cliente>
        <tr>
          <td style="min-width: 12rem;">
            {{cliente.id}}
          </td>
          <td style="min-width: 12rem;">
            {{cliente.codigo}}
          </td>
          <td style="min-width: 12rem;">
            {{cliente.primerNombre +"  "+ cliente.segundoNombre  +"       "+  cliente.primerApellido +"       "+cliente.segundoApellido}}
          </td>
          <td style="min-width: 12rem;">
            {{cliente.nit}}
          </td>
          <td style="min-width: 12rem;">
            {{cliente.correoElectronico}}
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCliente(cliente)"></button>
            </div>
          </td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="clienteDialog" [style]="{width: '450px'}" header="Edicion Marca" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <img [alt]="" width="150" class="mt-0 mx-auto mb-5 block shadow-2">
    <div class="field">
        <label for="name">Código de Cliente</label>
        <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.codigo" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Primer Nombre</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.primerNombre" required autofocus/>
    </div>
    <div class="field">
      <label for="name">Segundo Nombre</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.segundoNombre" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Primer Apellido</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.primerApellido" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Segundo Apellido</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.segundoApellido" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Dirección</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.direccion" required autofocus/>
    </div>
    <div class="field">
      <label for="status">NIT</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.nit" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Correo Electrónico</label>
      <input type="text" pInputText id="name" [(ngModel)]="clienteEdit.correoElectronico" required autofocus/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
  </ng-template>
</p-dialog>
