<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <form [formGroup]="cajaForm" (ngSubmit)="registrarCaja()">
      <h5>Registro de Cajas</h5>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Código de Caja</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="codigoCaja"  type="text" />
            <div *ngIf="cajaForm.get('codigoCaja')?.touched && cajaForm.get('codigoCaja')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="cajaForm.get('codigoCaja')?.errors">Código es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
          <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Estado</label>
          <div class="col-12 md:col-10">
          <p-dropdown [options]="estados" formControlName="estadoCaja" dataKey="code" placeholder="Seleccionar Estado."  optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="flex">
        <button pButton pRipple label="Agregar" [disabled]="!cajaForm.valid" icon="pi pi-plus" class="mr-2 mb-2"></button>
      </div>
    </form>
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">

    <p-table #dt1 dataKey="id" [value]="caja" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" ></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Codigo
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Estado
              <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Agent Picker</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                    <ng-template let-option pTemplate="item">
                      <div class="p-multiselect-representative-option">
                        <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                        <span class="ml-2">{{option.name}}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th>
            Acciones
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-caja>
        <tr>
          <td style="min-width: 12rem;">
            {{caja.id}}
          </td>
          <td style="min-width: 14rem;">
            {{caja.codigo}}
          </td>
          <td style="min-width: 10rem;" [ngSwitch]="caja.estado">
            <span *ngSwitchCase="1">ACTIVO</span>
            <span *ngSwitchCase="0">INACTIVO</span>
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(caja)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Cajas No Encontradas.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr>
          <td colspan="7">Loading customers data. Please wait.</td>
        </tr>
      </ng-template>
      </p-table>
  </div>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Edicion Caja" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <img [alt]="" width="150" class="mt-0 mx-auto mb-5 block shadow-2">
    <div class="field">
        <label for="name">Código Caja</label>
        <input type="text" pInputText id="name" [(ngModel)]="cajaEdit.codigo" required autofocus/>
    </div>

    <div class="field">
      <label for="status">Estado</label>
      <p-dropdown id="status" [options]="estados" [(ngModel)]="estadoSelected" optionLabel="name" placeholder="Seleccione un Estado">
      </p-dropdown>
    </div>

    <div class="field">
      <div class="formgrid grid"></div>
    </div>

    <div class="field">
      <div class="formgrid grid"></div>
    </div>

    <div class="field">
      <div class="formgrid grid"></div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
      </div>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
      <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
  </ng-template>
</p-dialog>
