<div class="card" style="align-items: center;  padding-top: 20px;">
  <h4>Crear Factura</h4>
  <hr>
  <!--<button pButton pRipple type="button" label="Crear Factura" class="p-button-raised p-button-secondary" style="height: 175px; width: 95%; font-size: xx-large; padding: 25%;" (click)="createFactura()"></button>-->
  <button pButton pRipple type="button" label="Crear Factura" class="p-button-raised p-button-secondary" style="font-size: xx-large;" (click)="createFactura()"></button>
</div>

<div class="col-12 md:col-12">
  <div class="card">
    <p-table #dt1 dataKey="id" [value]="factura" [rows]="10" [loading]="loading"  [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['id','nitCliente','cliente','caja','estado']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="id" display="menu" placeholder="Búsqueda por Id"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Fecha Creación
              <p-columnFilter type="text" field="fechaCreacion" display="menu" placeholder="Búsqueda por Fecha"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              NIT
              <p-columnFilter type="text" field="nitCliente" display="menu" placeholder="Búsqueda por NIT"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Cliente
              <p-columnFilter type="text" field="cliente" display="menu" placeholder="Búsqueda por Cliente"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Caja
              <p-columnFilter type="text" field="caja" display="menu" placeholder="Búsqueda por Caja"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Estado
              <p-columnFilter type="text" field="estado" display="menu" placeholder="Búsqueda por Estado"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Monto
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Acciones
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-factura>
        <tr>
          <td style="min-width: 12rem;">
            {{factura.id}}
          </td>
          <td style="min-width: 12rem;">
            {{factura.fechaCreacion}}
          </td>
          <td style="min-width: 12rem;">
            {{factura.nitCliente}}
          </td>
          <td style="min-width: 12rem;">
            {{factura.cliente}}
          </td>
          <td style="min-width: 12rem;">
            {{factura.caja}}
          </td>
          <td style="min-width: 10rem;" [ngSwitch]="factura.estado">
            <span *ngSwitchCase="1">ACTIVO</span>
            <span *ngSwitchCase="0">ANULADA</span>
          </td>
          <td style="min-width: 12rem;">
            {{factura.monto | currency: 'QTZ '}}
          </td>
          <td>

            <div class="p-inputgroup">
              <!--<div class="flex">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editFactura(factura)"></button>
              </div>-->
              <button pButton pRipple type="button" label="Ver Detalle" (click)="verFactura(factura.id)" class="p-button-outlined mr-2 mb-2"></button>
              <button pButton pRipple icon="pi pi-stop-circle" label="Anular Factura" class="p-button-rounded p-button-danger" (click)="anular(factura)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="crearFacturaDialog" position="top" [style]="{width: '75%'}" header="Registro de Facturacion" [closable]="false" [modal]="true">
<app-factura-stepone></app-factura-stepone>
</p-dialog>


<p-dialog [(visible)]="facturaDialog" [style]="{width: '450px'}" header="Edicion Factura" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <img [alt]="" width="150" class="mt-0 mx-auto mb-5 block shadow-2">
    <div class="field">
      <label for="name">Autorización</label>
      <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.autorizacion" required autofocus/>
  </div>
    <div class="field">
        <label for="name">Código de Cliente</label>
        <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.cliente" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Caja</label>
      <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.caja" required autofocus/>
    </div>
    <div class="field">
      <label for="name">Serie</label>
      <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.serie" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Forma de Pago</label>
      <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.formaPago" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Usuario</label>
      <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.usuario" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Estado</label>
      <input type="text" pInputText id="name" [(ngModel)]="facturaEdit.estado" required autofocus/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="visualizarFactura" position="top" [style]="{width: '100%'}" header="Detalle de Venta" [modal]="true">
  <app-factura-print></app-factura-print>
</p-dialog>
