<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <form [formGroup]="productoForm" (ngSubmit)="registrarProducto()">
      <h5>Registro de Inventario de Producto</h5>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nombre</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="nombreProducto"  type="text" />
            <div *ngIf="productoForm.get('nombreProducto')?.touched && productoForm.get('nombreProducto')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="productoForm.get('nombreProducto')?.errors">Nombre es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Código de Producto</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="codigoProducto"  type="text" />
            <div *ngIf="productoForm.get('codigoProducto')?.touched && productoForm.get('codigoProducto')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="productoForm.get('codigoProducto')?.errors">Código de Producto es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Descripción</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="descripcionProducto"  type="text" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Estado</label>
        <div class="col-12 md:col-10">
          <p-dropdown [options]="estados" formControlName="estadoProducto" dataKey="code" placeholder="Seleccionar Estado."  optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Existencias</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="existenciaProducto"  type="text" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Precio Unitario</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="precioUnitarioProduto"  type="text" />
        </div>
      </div>
      <!--<div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Categoría</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" type="text" formControlName="categoriaProducto" />
        </div>
      </div>-->
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Categoría</label>
        <div class="col-12 md:col-10">
          <p-dropdown [options]="categorias" formControlName="categoriaProducto" dataKey="id" placeholder="Seleccionar Categoría"  optionLabel="nombre"></p-dropdown>
        </div>
      </div>
      <!--<div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Marca</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" type="text" />
        </div>
      </div>-->
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Marca</label>
        <div class="col-12 md:col-10">
          <p-dropdown [options]="marcas" formControlName="marcaProducto" dataKey="id" placeholder="Seleccionar Marca."  optionLabel="nombre"></p-dropdown>
        </div>
      </div>
      <!--<div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Proveedor</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="descripcionProducto"  type="text" />
        </div>
      </div>-->
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Proveedor</label>
        <div class="col-12 md:col-10">
          <p-dropdown [options]="proveedores" formControlName="proveedorProducto" dataKey="id" placeholder="Seleccionar Proveedor."  optionLabel="nombre"></p-dropdown>
        </div>
      </div>
      <div class="flex">
        <button pButton pRipple label="Agregar" [disabled]="!productoForm.valid" icon="pi pi-plus" class="mr-2 mb-2"></button>
      </div>
    </form>
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">

    <p-table #dt1 dataKey="id" [value]="producto" [loading]="loading" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['id','codigoProducto','nombre','descripcion','estado','existencias','precioUnitario','categoria','marca','proveedor']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Limpiar" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Búsqueda" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="id" display="menu" placeholder="Búsqueda Id"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Código de Producto
              <p-columnFilter type="text" field="codigoProducto" display="menu" placeholder="Búsqueda Código Producto"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Nombre
              <p-columnFilter type="text" field="nombre" display="menu" placeholder="Búsqueda Nombre"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Descripción
              <p-columnFilter type="text" field="descripcion" display="menu" placeholder="Búsqueda Descripción"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Estado
              <p-columnFilter type="text" field="estado" display="menu" placeholder="Búsqueda Estado"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Existencias
              <p-columnFilter type="text" field="existencias" display="menu" placeholder="Búsqueda Existencias"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Precio Unitario
              <p-columnFilter type="text" field="precioUnitario" display="menu" placeholder="Búsqueda Precio Unitario"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Categoría
              <p-columnFilter type="text" field="categoria" display="menu" placeholder="Búsqueda Categoría"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Marca
              <p-columnFilter type="text" field="marca" display="menu" placeholder="Búsqueda Marca"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Proveedor
              <p-columnFilter type="text" field="proveedor" display="menu" placeholder="Búsqueda Proveedor"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Acciones
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-producto>
        <tr>
          <td style="min-width: 4rem;">
            {{producto.id}}
          </td>
          <td style="min-width: 2rem;">
            {{producto.codigoProducto}}
          </td>
          <td style="min-width: 12rem;">
            {{producto.nombre}}
          </td>
          <td style="min-width: 4rem;">
            {{producto.descripcion}}
          </td>
          <td style="min-width: 4rem;" [ngSwitch]="producto.estado">
            <span *ngSwitchCase="1">ACTIVO</span>
            <span *ngSwitchCase="0">INACTIVO</span>
          </td>
          <td style="min-width: 2rem;">
            <div *ngIf="producto.existencias >= 50">
              <span [class]="'customer-badge status-activo'">{{producto.existencias}}</span>
            </div>
            <div *ngIf="producto.existencias < 50">
              <span [class]="'customer-badge status-inactivo'">{{producto.existencias}}</span>
            </div>
          </td>
          <!--<td style="min-width: 12rem;">
            {{producto.existencias}}
          </td>-->
          <td style="min-width: 2rem;">
            <p>{{ producto.precioUnitario | currency: 'QTZ '}}</p>
          </td>
          <td style="min-width: 4rem;">
            <p>{{ producto.nombreCategoria }}</p>
          </td>
          <td style="min-width: 4rem;">
            <p>{{ producto.nombreMarca}}</p>
          </td>
          <td style="min-width: 4rem;">
            <p>{{producto.nombreProveedor}}</p>
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple class="p-button-rounded p-button-primary mr-2" (click)="editarCantidadProducto(producto)"><i class="pi pi-plus"></i>&nbsp;/&nbsp;<i class="pi pi-minus"></i></button>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editarProducto(producto)"></button>
              <button pButton pRipple icon="pi pi-stop-circle" label="Inactivar" class="p-button-rounded p-button-warning" (click)="inactivarProducto(producto)"></button>
          </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="edicionProductoDialog" [style]="{width: '450px', height: '850px'}" header="Edicion Producto" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Codigo Producto</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.codigoProducto" autofocus/>
    </div>
    <div class="field">
      <label for="name">Nombre Producto</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.nombre" autofocus/>
    </div>
    <div class="field">
      <label for="name">Precio Unitario Q.</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.precioUnitario" autofocus/>
    </div>
    <div class="field">
      <label for="name">Descripción Producto</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.descripcion" autofocus/>
    </div>
    <div class="field">
      <label for="name">Existencias</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.existencias" autofocus/>
    </div>
    <div>
      <label for="name">Estado del Producto</label>
      <p-dropdown [options]="estados" [(ngModel)]="estadoEditadoSelected" dataKey="code" placeholder="Seleccionar Estado."  optionLabel="name"></p-dropdown>
    </div>
    <div class="field">
      <label for="name">Categoría</label>
      <p-dropdown [options]="categorias" [(ngModel)]="categoriaEditadoSelected" dataKey="id" placeholder="Seleccionar Categoría"  optionLabel="nombre"></p-dropdown>
    </div>
    <div class="field">
      <label for="name">Marca</label>
      <p-dropdown [options]="marcas" [(ngModel)]="marcaEditadoSelected" dataKey="id" placeholder="Seleccionar Marca."  optionLabel="nombre"></p-dropdown>
    </div>
    <div class="field">
      <label for="name">Proveedor</label>
      <p-dropdown [options]="proveedores" [(ngModel)]="proveedorEditadoSelected" dataKey="id" placeholder="Seleccionar Proveedor."  optionLabel="nombre"></p-dropdown>
    </div>
    <div class="flex">
      <button pButton pRipple label="Guardar Cambios" icon="pi pi-save" class="mr-2 mb-2" (click)="guardarEdicion()"></button>
    </div>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="agregarProductoDialog" [style]="{width: '450px'}" header="Editar Cantidad" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Codigo Producto</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.codigoProducto" disabled autofocus/>
    </div>
    <div class="field">
      <label for="name">Nombre Producto</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.nombre" disabled autofocus/>
    </div>
    <div class="field">
      <label for="name">Precio Unitario Q.</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.precioUnitario" disabled autofocus/>
    </div>
    <div class="field">
      <label for="name">Descripción Producto</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.descripcion" disabled autofocus/>
    </div>
    <div class="field">
      <label for="name">Existencias</label>
      <input type="text" pInputText id="name" [(ngModel)]="editarCantidad.existencias" autofocus/>
    </div>

    <div class="flex">
      <button pButton pRipple label="Guardar Cambios" icon="pi pi-save" class="mr-2 mb-2" (click)="guardarEditarCantidad()"></button>
    </div>
  </ng-template>
</p-dialog>
