<button pButton label="Print" type="button" icon="pi pi-print" (click)="print()"
		style="display:block;margin-bottom: 20px; margin-left: 6px;"></button>

<div class="grid">
	<div class="col">
		<div class="card" >
			<div id="invoice-content">
				<div class="invoice">
					<div class="invoice-header">
						<div class="invoice-company">
							<img id="invoice-logo" class="logo-image" src="assets/layout/images/logotipo.png" height="90" alt="manhattan-layout" />
							<div class="company-name">SISTEMA DE INVENTARIO QUANTUM</div>
							<div>Ciudad de Guatemala</div>
							<div>Zona Central</div>
						</div>
            <div>
							<div class="invoice-title">Factura</div>
							<div class="invoice-details">
								<div class="invoice-label">Fecha</div>
								<div class="invoice-value">{{fechaFactura | date: 'dd/MM/yyyy'}}</div>

								<div class="invoice-label">Número de Factura</div>
								<div class="invoice-value">{{fechaFactura}}</div>

								<div class="invoice-label">Cliente ID</div>
								<div class="invoice-value">{{codigoCliente}}</div>
							</div>
						</div>
          </div>
          <div class="invoice-to">
						<div class="bill-to">Factura a Nombre:</div>
						<div class="invoice-to-info">
							<div>{{nombreCliente}}</div>
              <div>{{nitCliente}}</div>
							<div>{{direccionCliente}}</div>
						</div>
					</div>
          <div class="invoice-items">
						<table>
							<thead>
							<tr>
                <th>#</th>
								<th>Código de Producto</th>
                <th>Nombre de Producto</th>
								<th>Cantidad</th>
								<th>Precio Unitario</th>
								<th>Subtotal</th>
							</tr>
							</thead>
							<tbody>
                <tr *ngFor="let item of itemDetalleFactura; let i = index">
                  <td style="min-width: 10rem;">{{i+1}}</td>
                  <td>{{item.codigoProducto}}</td>
                  <td>{{item.producto}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.precioUnitario}}</td>
                  <td>{{item.subTotal}}</td>
                </tr>

							<!--<tr>
								<td>Green T-Shirt</td>
								<td>1</td>
								<td>Q.49.00</td>
								<td>Q.49.00</td>
							</tr>
							<tr>
								<td>Game Controller</td>
								<td>2</td>
								<td>Q.99.00</td>
								<td>Q.198.00</td>
							</tr>
							<tr>
								<td>Mini Speakers</td>
								<td>1</td>
								<td>Q.85.00</td>
								<td>Q.85.00</td>
							</tr>-->
							</tbody>
						</table>
					</div>
          <div class="invoice-summary">
						<div class="invoice-notes">
							<div>

							</div>
						</div>
						<div>
              <table>
                <tbody>
                  <div class="invoice-details">
                    <!--<tr>
                      <td><div class="invoice-label">SUBTOTAL</div></td>
                      <td><div class="invoice-value">Q.332.00</div></td>
                    </tr>-->
                    <!--<tr>
                      <td><div class="invoice-label">DESCUENTO:</div></td>
                      <td><div class="invoice-value">0</div></td>
                    </tr>-->
                    <tr>
                      <td><div class="invoice-label">TOTAL:</div></td>
                      <td><div class="invoice-value">{{monto | currency: 'Q. ' }}</div></td>
                    </tr>
                  </div>
                </tbody>
              </table>
						</div>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>
