<div class="card" style="align-items: center;  padding-top: 20px;">
  <div class="card p-fluid">
    <!--<form>-->
      <p-card>
        <ng-template pTemplate="title">
            Resgistro de Compra
        </ng-template>
        <ng-template pTemplate="subtitle">
          <h5>Datos</h5>
        </ng-template>
        <ng-template pTemplate="content">
          <div class="card p-fluid">
            <div class="p-formgrid grid">
              <div class="col-12 md:col-6">
                <label htmlFor="email2">Proveedor</label>
                <!--<div class="p-inputgroup">-->
                  <!--<input type="text" pInputText placeholder="Proveedor">-->
                  <p-dropdown [options]="proveedores" name="proveedor" [(ngModel)]="proveedor" dataKey="id" placeholder="Seleccionar Categoría"  optionLabel="nombre"></p-dropdown>
                <!--</div>-->
              </div>
              <!--<div class="col-12 md:col-6">
                <label htmlFor="email2">Código Compra</label>
                <div class="p-inputgroup">
                  <input type="text" pInputText placeholder="Código Compra">
                </div>
              </div>-->
              <div class="col-12 md:col-6">
                <label htmlFor="email2">Forma de Pago</label>
                  <p-dropdown [options]="formasPago" [(ngModel)]="formaPago" dataKey="id" placeholder="Seleccionar Categoría"  optionLabel="nombre"></p-dropdown>
              </div>
              <!--<div class="col-12 md:col-6">
                <label htmlFor="email2">Total</label>
                <div class="p-inputgroup">
                  <h1>{{total | currency: 'Q. '}}</h1>
                </div>
              </div>-->
              <div class="col-12 md:col-12">
                <label htmlFor="email2">&nbsp;</label>
                <button pButton pRipple type="button" label="Detalle Compra" (click)="createCompraDetalle()" class="mr-2 mb-2"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-card>
    <!--</form>-->
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">
    <p-table #dt1 dataKey="id" [value]="compra" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Fecha Creación
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Proveedor
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
          <!--<th>
            <div class="flex justify-content-between align-items-center">
              Total
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>-->
          <th>
            <div class="flex justify-content-between align-items-center">
              Forma de Pago
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Acciones
              <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-compra>
        <tr>
          <td style="min-width: 12rem;">
            {{compra.id}}
          </td>
          <td style="min-width: 12rem;">
            {{compra.fechaCreacion | date: 'dd/MM/YYYY HH:mm:ss'}}
          </td>
          <td style="min-width: 12rem;">
            {{compra.proveedor}}
          </td>
          <!--<td style="min-width: 12rem;">
            {{compra.total | currency: 'Q '}}
          </td>-->
          <td style="min-width: 12rem;">
            {{compra.formaPago}}
          </td>
          <td style="min-width: 12rem;">
            <div class="col-12 md:col-6">
              <div class="p-inputgroup">
                <button pButton pRipple type="button" label="Ver Detalle" class="p-button-outlined mr-2 mb-2" (click)="cargarListadoCompra(compra,compra.proveedor)" ></button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Compras No Encontradas.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="listDetalleDialog" position="top" [style]="{width: '75%'}" header="Detalle de Orden de Compra" [modal]="true">
  <button pButton label="Print" type="button" icon="pi pi-print" (click)="print()" style="display:block;margin-bottom: 20px; margin-left: 6px;"></button>
  <div class="grid">
    <div class="col">
      <div class="card" >
        <div id="invoice-content">
          <div class="invoice">
            <div class="invoice-header">
              <div class="invoice-company">
                <img id="invoice-logo" class="logo-image" src="assets/layout/images/logotipo.png" height="90" alt="manhattan-layout" />
                <div class="company-name">SISTEMA DE INVENTARIO QUANTUM</div>
                <div>Ciudad de Guatemala</div>
                <div>Zona Central</div>
              </div>
              <div>
                <div class="invoice-title">Orden de Compra</div>
                <div class="invoice-details">
                  <div class="invoice-label">Fecha</div>
                  <div class="invoice-value">{{fechaFactura | date: 'dd/MM/yyyy'}}</div>

                  <div class="invoice-label"></div>
                  <div class="invoice-value"></div>

                  <div class="invoice-label"></div>
                  <div class="invoice-value"></div>
                </div>
              </div>
            </div>
            <div class="invoice-to">
              <div class="bill-to"></div>
              <div class="invoice-to-info">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="invoice-items">
              <table>
                <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre Producto</th>
                  <th>Marca</th>
                  <th>Cantidad</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDetalleCompra; let i=index">
                    <td style="min-width: 10rem;">{{i+1}}</td>
                    <td style="min-width: 10rem;">{{item.producto}}</td>
                    <td style="min-width: 10rem;">{{item.marca}}</td>
                    <td style="min-width: 10rem;">{{item.cantidad}}</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="invoice-summary">
              <div class="invoice-notes">
                <div>

                </div>
              </div>
              <div>
                <table>
                  <tbody>
                    <div class="invoice-details">
                      <tr>
                        <td><div class="invoice-label"></div></td>
                        <td><div class="invoice-value"></div></td>
                      </tr>
                    </div>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="crearCompraDetalleDialog" position="top" [style]="{width: '75%'}" header="Detalle de Orden de Compra" [modal]="true">
  <div class="card p-fluid">
    <div class="p-formgrid grid">
      <!--<div class="col-12 md:col-6">
        <label htmlFor="email2">Producto</label>
        <p-autoComplete [(ngModel)]="selectedProduct" field="codigoProducto" [showEmptyMessage]="true" [suggestions]="filteredProducts" (completeMethod)="search($event)" [minLength]="5"></p-autoComplete>
      </div>-->
      <div class="col-12 md:col-12">
        <label htmlFor="email2">Nombre de Producto</label>
        <p-autoComplete [(ngModel)]="selectedNameProduct" (ngModelChange)="obtenerPrecioNombre()" field="nombre" [showEmptyMessage]="true" [suggestions]="filteredNameProducts" (completeMethod)="searchByName($event)" [minLength]="2"></p-autoComplete>
      </div>

      <!--<div class="col-12 md:col-6">
        <label htmlFor="email2">Nombre de Producto</label>
        <p-autoComplete [(ngModel)]="selectedNameProduct" field="nombre" [showEmptyMessage]="true" [suggestions]="filteredNameProducts" (completeMethod)="searchByName($event)" [minLength]="1"></p-autoComplete>
      </div>-->

      <div class="col-12 md:col-6">
        <label htmlFor="email2">Marca</label>
        <p-dropdown [options]="marcas" name="marca" [(ngModel)]="marca" dataKey="id" placeholder="Seleccionar Categoría"  optionLabel="nombre"></p-dropdown>
        <!--<div class="p-inputgroup">
          <input type="text" pInputText placeholder="Marca">
          <button type="button" icon="pi pi-search" iconPos="right" pButton pRipple label="Búsqueda"></button>
        </div>-->
      </div>
      <!--<div class="col-12 md:col-6">
        <label htmlFor="email2">Precio Unitario</label>
        <div class="p-inputgroup">
          <input type="text" pInputText [(ngModel)]="precioUnitario" placeholder="Precio Unitario">
        </div>
      </div>-->

      <div class="col-12 md:col-6">
        <label htmlFor="email2">Cantidad</label>
        <div class="p-inputgroup">
          <input type="text" pInputText [(ngModel)]="cantidad" placeholder="Precio Unitario">
        </div>
      </div>


      <!--<div class="col-12 md:col-6">
        <label htmlFor="email2">Total</label>
        <div class="p-inputgroup">
          <h1>{{total | currency: 'Q. '}}</h1>
        </div>
      </div>-->

      <div class="col-12 md:col-12">
        <button pButton pRipple type="button" label="Agregar Productos" (click)="agregarDetalle()" class="p-button-secondary mr-2 mb-2"></button>
      </div>

    </div>
  </div>
  <p-card></p-card>
  <p-card>

    <table styleClass="p-datatable-gridlines">
      <thead>
        <th><div class="flex justify-content-between align-items-center">No.</div></th>
        <!--<th><div class="flex justify-content-between align-items-center">Código Producto</div></th>-->
        <th><div class="flex justify-content-between align-items-center">Nombre Producto</div></th>
        <th><div class="flex justify-content-between align-items-center">Marca</div></th>
        <th><div class="flex justify-content-between align-items-center">Cantidad</div></th>
        <!--<th><div class="flex justify-content-between align-items-center">Precio Unitario</div></th>
        <th><div class="flex justify-content-between align-items-center">Subtotal</div></th>-->
        <th><div class="flex justify-content-between align-items-center">Acción</div></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of detalleItems; let i=index">
          <td style="min-width: 10rem;">{{i+1}}</td>
          <!--<td style="min-width: 10rem;">{{item.codigoProducto}}</td>-->
          <td style="min-width: 10rem;">{{item.producto}}</td>
          <td style="min-width: 10rem;">{{item.marca}}</td>
          <td style="min-width: 10rem;">{{item.cantidad}}</td>
          <!--<td style="min-width: 10rem;">{{item.precioUnitario}}</td>
          <td style="min-width: 10rem;">{{item.subTotal}}</td>-->
          <td>
            <div class="flex">
              <button pButton pRipple type="button" (click)="removerProductoDetalle(item.codigoProducto)" label="Eliminar del Detalle" class="p-button-danger mr-2 mb-2"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </p-card>
  <p-card></p-card>
  <p-card>
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="col-12 md:col-12">
          <label htmlFor="email2">&nbsp;</label>
          <button pButton pRipple type="button" label="Registrar Compra"(click)="registraCompra()" class="mr-2 mb-2"></button>
        </div>
      </div>
    </div>
  </p-card>
</p-dialog>
