
<p-card>
  <ng-template pTemplate="title">
      Datos de Facturación
  </ng-template>
  <ng-template pTemplate="subtitle">
    Segundo Paso
  </ng-template>
  <ng-template pTemplate="content">
  </ng-template>
</p-card>
