
<p-card>
  <ng-template pTemplate="title">
      Datos de Facturación
  </ng-template>
  <ng-template pTemplate="subtitle">
    <h5>Datos Cliente</h5>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="card p-fluid">
			<div class="p-formgrid grid">
        <div class="col-12 md:col-6">
          <label htmlFor="email2">NIT</label>
					<div class="p-inputgroup">
						<input type="text" pInputText [(ngModel)]="nitBusqueda" placeholder="Número de NIT">
            <button type="button" icon="pi pi-search" iconPos="right" pButton pRipple label="Búsqueda" (click)="obtenerClienteByNit()"></button>
					</div>
				</div>
        <div class="col-12 md:col-6">
          <label htmlFor="email2">Código Cliente</label>
					<div class="p-inputgroup">
						<input type="text" pInputText [(ngModel)]="codigoBusqueda" placeholder="Código Cliente">
            <button type="button" icon="pi pi-search" iconPos="right" pButton pRipple label="Búsqueda" (click)="obtenerClienteByCodigo()"></button>
					</div>
				</div>
			</div>

      <div class="p-formgrid grid">
        <div class="col-12 md:col-4">
          <label htmlFor="email2">Primer Nombre</label>
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" pInputText [(ngModel)]="primerNombre" />
          </span>
        </div>
        <div class="col-12 md:col-4">
          <label htmlFor="email2">Primer Apellido</label>
          <span class="p-input-icon-left">
            <i class="pi pi-user"></i>
            <input type="text" pInputText [(ngModel)]="primerApellido" />
          </span>
        </div>
        <div class="col-12 md:col-4">
          <label htmlFor="email2">Búsqueda por Nombres</label>
          <button type="button" icon="pi pi-search" iconPos="right" pButton pRipple label="Búsqueda" (click)="obtenerClienteByNombreApellido()"></button>
        </div>
      </div>
		</div>

    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="col-12 md:col-6">
          <div class="p-inputgroup">
            <input type="text" pInputText readonly [(ngModel)]="nombreCompletoCliente" placeholder="Nombre Completo">
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="p-inputgroup">
            <input type="text" pInputText readonly [(ngModel)]="clienteInfo.codigo" placeholder="Código Cliente">
          </div>
        </div>
      </div>
      <div class="p-formgrid grid">
        <div class="col-12 md:col-6">
          <div class="p-inputgroup">
            <input type="text" pInputText readonly [(ngModel)]="clienteInfo.direccion" placeholder="Dirección">
          </div>
        </div>
        <div class="col-12 md:col-6">
          <div class="p-inputgroup">
            <input type="text" pInputText readonly [(ngModel)]="clienteInfo.correoElectronico" placeholder="Correo Electrónico">
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-card>

<p-card>
  <ng-template pTemplate="title">
  </ng-template>
  <ng-template pTemplate="content">
    <div class="card p-fluid">
			<div class="p-formgrid grid">
        <div class="col-12 md:col-4">
          <label>Caja</label>
          <p-dropdown [options]="cajas" [(ngModel)]="caja" placeholder="Seleccione Caja" [showClear]="true"></p-dropdown>
        </div>
        <div class="col-12 md:col-6">
          <label htmlFor="email2">Forma de Pago</label>
            <p-dropdown [options]="formasPago" [(ngModel)]="formaPago" dataKey="id" placeholder="Seleccionar Categoría"  optionLabel="nombre"></p-dropdown>
        </div>
        <div class="col-12 md:col-4">
          <!--<button pButton pRipple type="button" label="Crear Factura" class="mr-2 mb-2"></button>-->
          <button pButton pRipple type="button" label="Agregar Productos" (click)="createFacturaDetalle()" class="p-button-secondary mr-2 mb-2"></button>
          <button pButton pRipple type="button" label="Cerrar" (click)="recargar()" class="p-button-warning mr-2 mb-2"></button>
        </div>
        <div class="col-12 md:col-6">
          <label htmlFor="email2">Total</label>
          <div class="p-inputgroup">
            <!--<input type="text" readonly [(ngModel)]="total" pInputText placeholder="Total">-->
            <h1>{{total | currency: 'Q. '}}</h1>
          </div>
        </div>
        <!--<p-card>
          <div class="card p-fluid">
            <div class="p-formgrid grid">-->
              <div class="col-12 md:col-12">
                <label htmlFor="email2">&nbsp;</label>
                <!--<button pButton pRipple type="button" label="Registrar Venta"(click)="registraVenta()" class="mr-2 mb-2"></button>-->
              </div>
            <!--</div>
          </div>
        </p-card>-->
      </div>
    </div>
  </ng-template>
</p-card>



<p-dialog [(visible)]="crearFacturaDetalleDialog" position="top" [style]="{width: '75%'}" header="Detalle de Factura" [modal]="true">
  <div class="card p-fluid">
    <div class="p-formgrid grid">

      <div class="col-12 md:col-3">
        Producto
      </div>
      <div class="col-12 md:col-3">
        Precio Unitario
      </div>
      <div class="col-12 md:col-3">
        Cantidad
      </div>
      <div class="col-12 md:col-3">
        Sub-Total
      </div>



      <div class="col-12 md:col-3">
        <p-dropdown [options]="articulos" [(ngModel)]="selectedArticulo" (onChange)="obtieneInfoProducto1()" placeholder="Seleccione Producto" [showClear]="true"></p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <input type="number" pInputText [(ngModel)]="precioUnitario1" readonly />
      </div>
      <div class="col-12 md:col-3">
        <input type="text" pInputText [(ngModel)]="cantidad1" (change)="subTotal1()" />
      </div>
      <div class="col-12 md:col-3">
        <input type="text" pInputText [(ngModel)]="detalle1" readonly/>
      </div>

      <div class="col-12 md:col-3">
        <p-dropdown [options]="articulos" [(ngModel)]="selectedArticulo2" (onChange)="obtieneInfoProducto2()" placeholder="Seleccione Producto" [showClear]="true"></p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <input type="number" pInputText [(ngModel)]="precioUnitario2" readonly />
      </div>
      <div class="col-12 md:col-3">
        <input type="text" pInputText  [(ngModel)]="cantidad2" (change)="subTotal2()" />
      </div>
      <div class="col-12 md:col-3">
        <input type="text" pInputText [(ngModel)]="detalle2" readonly />
      </div>


      <div class="col-12 md:col-3">
        <p-dropdown [options]="articulos" [(ngModel)]="selectedArticulo3" (onChange)="obtieneInfoProducto3()" placeholder="Seleccione Producto" [showClear]="true"></p-dropdown>
      </div>
      <div class="col-12 md:col-3">
        <input type="number" pInputText [(ngModel)]="precioUnitario3" readonly />
      </div>
      <div class="col-12 md:col-3">
        <input type="number" pInputText [(ngModel)]="cantidad3" (change)="subTotal3()" />
      </div>
      <div class="col-12 md:col-3">
        <input type="number" pInputText [(ngModel)]="detalle3" readonly />
      </div>
    </div>
  </div>
  <button pButton pRipple type="button" label="Aceptar" (click)="cierraFacturaDetalle()" class="p-button-secondary mr-2 mb-2"></button>
  <p-card></p-card>
  <p-card></p-card>
  <p-card></p-card>
</p-dialog>



<p-dialog [(visible)]="crearVentaDetalleDialog" position="top" [style]="{width: '75%'}" header="Detalle de Venta" [closable]="true" [modal]="true">
  <div class="card p-fluid">
    <div class="p-formgrid grid">

      <div class="col-12 md:col-12">
        <label htmlFor="email2">Código de Producto</label>
        <p-autoComplete [(ngModel)]="selectedProduct" (ngModelChange)="obtenerPrecio()" field="codigoProducto" [showEmptyMessage]="true" [suggestions]="filteredProducts" (completeMethod)="search($event)" [minLength]="5"></p-autoComplete>
      </div>

      <div class="col-12 md:col-12">
        <label htmlFor="email2">Nombre de Producto</label>
        <p-autoComplete [(ngModel)]="selectedNameProduct" (ngModelChange)="obtenerPrecioNombre()" field="nombre" [showEmptyMessage]="true" [suggestions]="filteredNameProducts" (completeMethod)="searchByName($event)" [minLength]="2"></p-autoComplete>
      </div>

      <div class="col-12 md:col-6">
        <label htmlFor="email2">Precio Unitario</label>
        <div class="p-inputgroup">
          <input type="text" pInputText [(ngModel)]="precioUnitario" placeholder="Precio Unitario">
        </div>
      </div>

      <div class="col-12 md:col-6">
        <label htmlFor="email2">Cantidad</label>
        <div class="p-inputgroup">
          <input type="text" pInputText [(ngModel)]="cantidad" placeholder="Precio Unitario">
        </div>
      </div>


      <div class="col-12 md:col-6">
        <label htmlFor="email2">Total</label>
        <div class="p-inputgroup">
          <!--<input type="text" readonly [(ngModel)]="total" pInputText placeholder="Total">-->
          <h1>{{total | currency: 'Q. '}}</h1>
        </div>
      </div>

      <div class="col-12 md:col-12">
        <button pButton pRipple type="button" label="Agregar Productos" (click)="agregarDetalle()" class="p-button-secondary mr-2 mb-2"></button>
      </div>

    </div>
  </div>
  <p-card>

    <p-messages [value]="msgs"></p-messages>

    <table styleClass="p-datatable-gridlines">
      <thead>
        <th><div class="flex justify-content-between align-items-center">No.</div></th>
        <th><div class="flex justify-content-between align-items-center">Código Producto</div></th>
        <th><div class="flex justify-content-between align-items-center">Nombre Producto</div></th>
        <!--<th><div class="flex justify-content-between align-items-center">Marca</div></th>-->
        <th><div class="flex justify-content-between align-items-center">Cantidad</div></th>
        <th><div class="flex justify-content-between align-items-center">Precio Unitario</div></th>
        <th><div class="flex justify-content-between align-items-center">Subtotal</div></th>
        <th><div class="flex justify-content-between align-items-center">Acción</div></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of detalleItems; let i=index">
          <td style="min-width: 10rem;">{{i+1}}</td>
          <td style="min-width: 10rem;">{{item.codigoProducto}}</td>
          <td style="min-width: 10rem;">{{item.producto}}</td>
          <!--<td style="min-width: 10rem;">{{item.marca}}</td>-->
          <td style="min-width: 10rem;">{{item.cantidad}}</td>
          <td style="min-width: 10rem;">{{item.precioUnitario}}</td>
          <td style="min-width: 10rem;">{{item.subTotal}}</td>
          <td>
            <div class="flex">
              <button pButton pRipple type="button" label="Eliminar del Detalle" (click)="removerProductoDetalle(item.codigoProducto)" class="p-button-danger mr-2 mb-2"></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </p-card>
  <p-card></p-card>
  <p-card>
    <div class="card p-fluid">
      <div class="p-formgrid grid">
        <div class="col-12 md:col-12">
          <label htmlFor="email2">&nbsp;</label>
          <button pButton pRipple type="button" label="Registrar Venta"(click)="registraVenta()" class="mr-2 mb-2"></button>
          <!--<button pButton pRipple type="button" label="Cerrar" (click)="cerrarDetalle()" class="p-button-warning mr-2 mb-2"></button>-->
        </div>
      </div>
    </div>
  </p-card>
</p-dialog>


<p-dialog [(visible)]="visualizarFactura" position="top" [style]="{width: '100%'}" header="Detalle de Venta" [modal]="true">
  <app-factura-print></app-factura-print>
</p-dialog>
