<div class="grid dashboard">
  <div class="col-12 lg:col-6 xl:col-6" (click)="navigateToClientes($event)">
    <div class="overview-box overview-box-1">
        <div class="overview-box-icon">
            <i class="pi pi-users" ></i>
        </div>
        <div class="overview-box-content">
            <div class="overview-box-title">Clientes</div>
            <div class="overview-box-stats"></div>
            <div class="overview-box-details"></div>
        </div>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-6" (click)="navigateToProducto($event)">
    <div class="overview-box overview-box-2">
        <div class="overview-box-icon">
            <i class="pi pi-map-marker"></i>
        </div>
        <div class="overview-box-content">
            <div class="overview-box-title">Inventario</div>
            <!--<div class="overview-box-stats">532</div>-->
            <!--<div class="overview-box-details">+%75 more than yesterday</div>-->
        </div>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-6"  (click)="navigateToFacturas($event)">
    <div class="overview-box overview-box-3">
        <div class="overview-box-icon">
            <i class="pi pi-folder"></i>
        </div>
        <div class="overview-box-content" >
            <div class="overview-box-title">Facturas</div>
            <!--<div class="overview-box-stats">25</div>
            <div class="overview-box-details">+%15 more than yesterday</div>-->
        </div>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-6"  (click)="navigateToCompras($event)">
    <div class="overview-box overview-box-4">
        <div class="overview-box-icon">
            <i class="pi pi-dollar"></i>
        </div>
        <div class="overview-box-content" >
            <div class="overview-box-title">Compras</div>
            <!--<div class="overview-box-stats">25</div>
            <div class="overview-box-details">+%15 more than yesterday</div>-->
        </div>
    </div>
  </div>
</div>


<div class="grid p-fluid">
  <div class="col-12 lg:col-6">

      <div class="card flex flex-column align-items-center">
          <h5 class="text-left w-full">Productos</h5>
          <p-chart type="pie" [data]="pieData" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
      </div>
  </div>
  <div class="col-12 lg:col-6">
      <div class="card">
          <h5>Ventas en el Mes</h5>
          <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
      </div>
  </div>
  <div class="col-12 lg:col-6">

    <div class="card align-items-center">
        <h5 class="text-left w-full">Clientes</h5>
        <p-chart type="bar" [data]="barDataCliente" [options]="barClienteOptions" [style]="{'width': '50%'}"></p-chart>
    </div>
</div>
</div>

