<div class="layout-topbar">
    <a href="#" id="layout-menu-btn" class="menu-btn" (click)="app.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>


    <div class="layout-topbar-menu-wrapper">
      <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': app.topbarMenuActive}">
        <li class="profile-item" #profile [ngClass]="{'active-topmenuitem':app.activeTopbarItem === profile}">
                <a href="#" (click)="app.onTopbarItemClick($event, profile)">
                    <!--<img src="assets/layout/images/avatar.png" alt="manhattan-layout" />-->
                    <h3>{{app.username()}}</h3>
                </a>

                <ul class="fadeInDown animated">

                    <li role="menuitem">
                        <a href="#" (click)="app.logOut()">
                            <i class="pi pi-fw pi-sign-out"></i>
                            <span>Salir</span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>

    </div>
</div>
