<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <form [formGroup]="categoriaForm" (ngSubmit)="registrarCategoria()">
      <h5>Registro de Categoría</h5>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nombre</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="nombreCategoria"  type="text" />
            <div *ngIf="categoriaForm.get('nombreCategoria')?.touched && categoriaForm.get('nombreCategoria')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="categoriaForm.get('nombreCategoria')?.errors">Código es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Descripcion</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="descripcionCategoria"  type="text" />
        </div>
      </div>
      <div class="flex">
        <button pButton pRipple label="Agregar" [disabled]="!categoriaForm.valid" icon="pi pi-plus" class="mr-2 mb-2"></button>
      </div>
    </form>
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">
    <p-table #dt1 dataKey="id" [value]="categoria" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" ></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Nombre
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Descripción
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            Acciones
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-categoria>
        <tr>
          <td style="min-width: 12rem;">
            {{categoria.id}}
          </td>
          <td style="min-width: 12rem;">
            {{categoria.nombre}}
          </td>
          <td style="min-width: 12rem;">
            {{categoria.descripcion}}
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editCategoria(categoria)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Categorías No Encontradas.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="categoriaDialog" [style]="{width: '450px'}" header="Edicion Categoría" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <img [alt]="" width="150" class="mt-0 mx-auto mb-5 block shadow-2">
    <div class="field">
        <label for="name">Nombre</label>
        <input type="text" pInputText id="name" [(ngModel)]="categoriaEdit.nombre" required autofocus/>
    </div>

    <div class="field">
      <label for="status">Descripción</label>
      <input type="text" pInputText id="name" [(ngModel)]="categoriaEdit.descripcion" required autofocus/>
    </div>

    <div class="field">
      <div class="formgrid grid"></div>
    </div>

    <div class="field">
      <div class="formgrid grid"></div>
    </div>

    <div class="field">
      <div class="formgrid grid"></div>
    </div>

    <div class="formgrid grid">
      <div class="field col">
      </div>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"  (click)="hideDialog()"></button>
      <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
  </ng-template>
</p-dialog>
