<div class="col-12 md:col-6">
  <div class="card p-fluid">
    <form [formGroup]="marcaForm" (ngSubmit)="registrarMarca()">
      <h5>Registro de Marca</h5>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Nombre</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" formControlName="nombreMarca"  type="text" />
            <div *ngIf="marcaForm.get('nombreMarca')?.touched && marcaForm.get('nombreMarca')?.errors?.['required']" class="alert alert-danger">
              <div *ngIf="marcaForm.get('nombreMarca')?.errors">Nombre es Requerido</div>
            </div>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="state"  class="col-12 mb-2 md:col-2 md:mb-0">Estado</label>
          <div class="col-12 md:col-10">
          <p-dropdown [options]="estados" formControlName="estadoMarca" dataKey="code" placeholder="Seleccionar Estado."  optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Descripción</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="descripcionMarca"  type="text" />
        </div>
      </div>
      <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Calificación:</label>
        <div class="col-12 md:col-10">
          <input pInputText id="name3" formControlName="calificacionMarca"  type="text" />
        </div>
      </div>
      <div class="flex">
        <button pButton pRipple label="Agregar" [disabled]="!marcaForm.valid" icon="pi pi-plus" class="mr-2 mb-2"></button>
      </div>
    </form>
  </div>
</div>

<div class="col-12 md:col-12">
  <div class="card">
    <p-table #dt1 dataKey="id" [value]="marca" [rows]="10" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-column sm:flex-row">
          <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" ></button>
          <span class="p-input-icon-left mb-2">
            <i class="pi pi-search"></i>
            <input pInputText type="text" #filter placeholder="Search Keyword" class="w-full"/>
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex justify-content-between align-items-center">
              Id
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Nombre
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Estado
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Fecha Creación
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Descripción
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            <div class="flex justify-content-between align-items-center">
              Calificación
              <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
            </div>
          </th>
          <th>
            Acciones
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-marca>
        <tr>
          <td style="min-width: 12rem;">
            {{marca.id}}
          </td>
          <td style="min-width: 12rem;">
            {{marca.nombre}}
          </td>
          <td style="min-width: 12rem;" [ngSwitch]="marca.estado">
            <span *ngSwitchCase="1">ACTIVO</span>
            <span *ngSwitchCase="0">INACTIVO</span>
          </td>
          <td style="min-width: 12rem;">
            {{marca.fechaCreacion | date: 'dd/MM/YYYY HH:mm:ss'}}
          </td>
          <td style="min-width: 12rem;">
            {{marca.descripcion}}
          </td>
          <td style="min-width: 12rem;">
            {{marca.calificacion}}
          </td>
          <td>
            <div class="flex">
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editMarca(marca)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">Categorías No Encontradas.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Edicion Marca" [modal]="true" class="p-fluid">
  <ng-template pTemplate="content">
    <img [alt]="" width="150" class="mt-0 mx-auto mb-5 block shadow-2">
    <div class="field">
        <label for="name">Nombre de Marca</label>
        <input type="text" pInputText id="name" [(ngModel)]="marcaEdit.nombre" required autofocus/>
    </div>
    <div class="field">
      <label for="status">Estado</label>
      <p-dropdown id="status" [options]="estados" [(ngModel)]="estadoSelected" optionLabel="name" placeholder="Seleccione un Estado">
      </p-dropdown>
    </div>
    <div class="field">
      <label for="name">Descripción de Marca</label>
      <input type="text" pInputText id="name" [(ngModel)]="marcaEdit.descripcion" required autofocus/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text"></button>
  </ng-template>
</p-dialog>
